.vscode/settings.json
.venv/
docs/doxygen/

# Ignore build output files
build

# Ignore managed components
# main/idf_components.yml
managed_components/

# Ignore configuration files
sdkconfig
sdkconfig.old

